phase1/.idea
phase1/phase1.iml
phase1/out
phase2/out
phase2/.idea/
phase2/phase2.iml
phase2/.idea/misc.xml
phase2/.idea/modules.xml
phase2/.idea/workspace.xml
phase2/phase2.iml
phase2/log.txt
phase2/log.txt.lck
phase2/log.txt.1
